body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header {
  margin-left: 100px;
  font-weight: bold;
  color: whitesmoke;
  font-size: 18px;
  font-family: Verdana, sans-serif;
}

.body {
  margin-left: 100px;
  margin-right: 100px;
  color: whitesmoke;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.navigation {
  padding: 10px;
  text-align: center;
  word-spacing: 300px;
  letter-spacing: 3px;
}

.nlink {
  color: whitesmoke;
  font-family: "Impact", fantasy;
  text-decoration: none;
  font-size: 25px;
}

.blink {
  color: whitesmoke;
  font-weight: bold;
}

a:hover {
  opacity: 50%;
}
