body {
  background-color: black;
  overflow: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}
  
.example {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.header {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

.subheader {
  font-weight: bold;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

.description {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

.navigation {
  padding: 10px;
  text-align: center;
  word-spacing: 300px;
  letter-spacing: 3px;
}

a {
  color: whitesmoke;
  font-family: "Impact", fantasy;
  text-decoration: none;
  font-size: 25px;
}

span {
  color: whitesmoke;
  font-size: 20px;
}

a:hover {
  opacity: 50%;
}
